.cask/
.python-environments/
ac-comphist.dat
auto-save-list/
bkup.python-environments/
elpa/
ido.last
recentf
bookmarks
ido.last~
network-security.data
recentf~
session.*
.lsp-session*
transient/
projectile-bookmarks.eld
smex-items
.cache/
image-dired/
quelpa/
url/